.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{background-color:black ;}


/* .ant-select{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  background-color: black;
 color:rgb(13, 14, 13) !important;
 
 span{
  color: green;
 }
   */
/* } */
/* .ant-select-selector{
  background: black !important;
}
.ant-select-selection-search{
  background-color: black;
  color: green;
}

.ant-select-selection-placeholder{
 color :green !important;
} */

.form-select{
  background-color: black  !important;
  border:0.5px solid green !important;
  box-shadow: -1px -1px 1px green !important;
  color: green !important;
  cursor: pointer;

  /* options   */
}

 
